<main>
  <div class="genres_list">
    <img src="./assets/img/rock.jpg" alt="rock genre" routerLink="/albums" (click)="httpService.getRock()">
    <img src="./assets/img/electro.jpg" alt="electro genre" routerLink="/albums" (click)="httpService.getElectro()">
    <img src="./assets/img/hip_hop.jpg" alt="hip hop genre" routerLink="/albums" (click)="httpService.getHipHop()">
    <img src="./assets/img/pop.jpg" alt="pop genre" routerLink="/albums" (click)="httpService.getPop()">
    <img src="./assets/img/r&b.jpg" alt="r&b genre" routerLink="/albums" (click)="httpService.getRnB()">
    <img src="./assets/img/indie.jpg" alt="indie genre" routerLink="/albums" (click)="httpService.getIndie()">
  </div>
</main>
